<div class="ui accordion">
	<div class="title">
		<i class="list layout icon"></i>
		All Chatrooms	
	</div>

	<div class="content">
		<div class="ui secondary vertical menu">
			<% @chatrooms.each do |room| %>
				<% unless room.is_direct_message? %>
					<%= link_to room.title, chatroom_path(room), class: "item" %>
				<% end %>
		  <% end %>
		</div>	

	</div>
</div>

