<% if user_signed_in? %>
 <h3>Direct Messages</h3>
 <ul>
   <% (User.all - [current_user]).each do |user| %>
     <li><%= link_to user.first_name + " " + user.last_name, direct_message_path(user.id), data: {behavior: "chatroom-link", chatroom_id: Chatroom.direct_message_for_users([current_user, user]).id } %></li>
   <% end %>
 </ul>
<% end %>
