<h1>Welcome to WeHuddle!</h1>
<p> WeHuddle empowers agile teams to get work done and collaborate through a chat platform!</p>
<p>New to the platform? <%= link_to 'Sign up', new_user_registration_path%></p>
<p>Already a member? <%= link_to 'Log in', new_user_session_path%> </p>
