<h1>Welcome to Le Chat Meow!</h1>
<p>Le Chat Meow is the premiere real-time chat platform for cat owners.</p>
<p>New cat on the block? <%= link_to 'Sign up', new_user_registration_path%></p>
<p>Cool cats? <%= link_to 'Log in', new_user_session_path%> </p>
