<h3>Your Chatrooms</h3>
<div class="ui vertical menu">
	<% current_user.chatrooms.each do |room| %>
		<% unless room.is_direct_message? %>
			<div class="item">
				<%= link_to room.title, chatroom_path(room) %>
				<% if room.admin?(current_user) %>
					<div class="ui label"><%= link_to edit_chatroom_path(room) do %>
						<%= fa_icon "pencil" %>
					<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>


