@import "semantic-ui";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Chango|Roboto');

/*** Variables ***/
/* colors */
$sunshine: #f9ba32;
$steel-blue: #426e86;
$bone: #f8f1e5;
$coal: #2f3131;
/* fonts */
$logo-font: 'Chango', cursive;

$body-font: 'Roboto', sans-serif;


body {
	font-family: $body-font;
}

a {
	color: inherit;
}

.logo {
	color: $sunshine;
	font-family: $logo-font;
}


// .ui.container {
// 	width: 960px;
// }

header{
	background: $steel-blue;
	margin-bottom: 20px;
}

footer{
  background: #dadbdf;
  text-align: center;
  height: 25px;
  margin-top: 50px;
}

/*** Chat ***/

.chat {
	.message-input {
		input {
			display: none;
		}
	}
}

/*** User Profile ***/
.user-info {
  max-width: 80%;

}
