@import "semantic-ui";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Open+Sans%7CRoboto');

@import url('https://fonts.googleapis.com/css?family=Baloo');

/*** Variables ***/
/* colors */
$sunshine: #FFD700;
$steel-blue: #2A779B;

// Le Chat colors
$bone: #f8f1e5;
$coal: #374341;
$off_white: #2f3131;
$white: #dddddd;
$black: #000000;
$purp: #9000a3;
$indigo: #4B0082;
$dk_orchid: #9932CC;


/* fonts */
$logo-font: 'Baloo', cursive;
$heading-font: 'Open sans', sans-serif;
$body-font: 'Roboto', sans-serif;


body {
	// Changed from white
	background-color: $indigo;
	color: $black;
	font-family: $body-font;
}

.segment {
	background: $purp;
}

.chatcat {
	width: 50px;
}

.main {
	min-height: 100vh;
}

// Light purple panels on dark purple bg
.chat-panel {
	color: #000000;
	background-color: $purp;
}

// Login Page
#user_email, #user_password {
	background-color: $purp;
}

a {
	color: inherit;
}

.logo {
	color: $sunshine;
	font-family: $logo-font;
}

a.logo:hover {
  color: $dk_orchid;
}

.left-sidebar {
	h3 {
		color: $white;
		padding: 10px 5px 0px;
	}
  text-align: center;
}

.ui.accordion {
 margin:	15px 3px 5px;
}

.menu {
	width: 100% !important;
}

.right-sidebar:first-child {
	background-color: $purp;
}

/*** Typography ****/
h1, h2, h3, h4, h5, h6 {
	color: $black;
	font-family: $heading-font;
}

header{
	display: flex;
  align-items: center;
	background: $purp;
	height: 90px;
	margin-bottom: 20px;
}

footer{
  background: $purp;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;

}

/*** Chat ***/

.chat {
	.message-view {
		padding: 0 20px;
		height: 425px;
		overflow-y: scroll;
	}
	.message-input {
		input {
			display: none;
		}
	}
}
