<div class="ui stackable grid">
	<aside class="four wide column">
		<div>
		<%= render 'chatrooms/your_chatrooms' %>
		</div>

		<div>
		<%= render 'chatrooms/direct_messages' %>
		</div>
	</aside>

<%= yield %>

	<aside class="three wide column">
		<div>
		<%= render 'chatrooms/all_chatrooms' %>
		</div>
	</aside>
</div>
