<div class="ui stackable grid">
	<aside class="left-sidebar four wide column">
		<div class="chat-panel ui segments">
			<div>
			<%= render 'chatrooms/your_chatrooms' %>
			</div>
			<div>
			<%= render 'chatrooms/direct_messages' %>
			</div>
			<div>
			<%= render 'chatrooms/all_chatrooms' %>
			</div>
		</div>
	</aside>

	<div class="twelve wide column">
		<div class="ui stackable grid">
		<%= yield %>
		</div>

	</div>
</div>
