<div class="ui stackable grid">
	<aside class="four wide column">
		<div>
		<%= render 'chatrooms/your_chatrooms' %>	
		</div>
		
		<div>	
		<%= render 'chatrooms/all_chatrooms' %>	
		</div>
	</aside>
	
<%= yield %>
</div>
