<div class="ui stackable grid">
	<aside class="four wide column">
		<div class="ui segments">
			<div>
			<%= render 'chatrooms/your_chatrooms' %>
			</div>

			<div>
			<%= render 'chatrooms/direct_messages' %>
			</div>

			<div>
			<%= render 'chatrooms/all_chatrooms' %>
			</div>
		</div>
	</aside>

	<div class="nine wide column">
		<%= yield %>
	</div>

	<aside class="three wide column">
	</aside>
</div>
